.hUIButton {
    max-width: 100%;
    appearance: none;
    box-sizing: border-box;
    display: inline-flex;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    min-height: 35px;
    min-width: 120px;
    outline: none;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    /* transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1); */
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.hashButton {
    cursor: url('./../../assets/images/HashCursorPointingHand (1).svg'), pointer;

    font-family: 'ClashDisplay-variable', sans-serif !important;

    line-height: 110%;
    transition: all 900ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.defineButton {
    /* border: 2px solid var(--youthful-yellow); */

    cursor: url('./../../assets/images/CursorPointingHand.svg'), pointer;

    -webkit-tap-highlight-color: transparent;
    font-family: 'coolvetica-rg', sans-serif;
    line-height: 110%;
    transition: all 900ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.Hash .primaryVar1 {
    color: var(--witty-white) !important;
    background: linear-gradient(var(--blinding-black), var(--blinding-black)) padding-box,
        linear-gradient(60.99deg, #f2509e -13.57%, #ee778b -5.28%, #6324eb 21.41%, #9747ff 51.52%, #3fcdec 95.48%) border-box;
    border: 2px solid transparent;
    border-bottom: 6px solid transparent;
}

.Define .primaryVar1 {
    background: var(--youthful-yellow) !important;
    color: var(--blasphemous-black) !important;

    border: none;
    border-bottom: 2px solid var(--proud-pink) !important;
    box-shadow: 0px 5px var(--proud-pink);
}

.Define .primaryVar2 {
    background-color: var(--blasphemous-black);
    color: var(--youthful-yellow);

    border: none;
    border-bottom: 2px solid var(--youthful-yellow);
    box-shadow: 0px 5px var(--youthful-yellow);
}

.Hash .secondary {
    background-color: transparent;
    color: var(--witty-white);

    border: none;
    text-decoration: underline;
}

.Define .secondary {
    background-color: transparent;
    color: var(--youthful-yellow);

    border: 2px solid var(--youthful-yellow);
    text-decoration: none;

    border-bottom: 2px solid var(--youthful-yellow);
    box-shadow: 0px 5px var(--youthful-yellow);
}

.hUIButton:disabled {
    pointer-events: none;
}

@media (hover: hover) {
    .hashButton:hover {
        transform: translateY(-2px) scale(1.05);
    }

    .hUIButton:hover > .icon {
        transform: rotate(-15deg) scale(1.1);
        transition-duration: 700ms;
    }

    .Define .defineButton:hover {
        transform: translateY(-3px) scale(1.05) !important;
    }

    .Hash .primaryVar1:hover {
        box-shadow: 0px 4px 44px rgba(151, 71, 255, 0.2), inset 0px 4px 44px rgba(151, 71, 255, 0.4);
        border-bottom: 10px solid transparent;
    }

    .Hash .secondary:hover {
        background-image: linear-gradient(
            60.99deg,
            #f2509e -13.57%,
            #ee778b -5.28%,
            #6324eb 21.41%,
            #9747ff 51.52%,
            #3fcdec 95.48%
        ) !important;
        background-clip: text !important;
        color: transparent !important;
    }

    .Define .primaryVar1:hover {
        box-shadow: 0px 8px var(--proud-pink);
    }
    .Define .primaryVar2:hover {
        box-shadow: 0px 8px var(--youthful-yellow);
    }

    .Define .secondary:hover {
        background: none !important;
        color: var(--youthful-yellow) !important;
        box-shadow: 0px 8px var(--youthful-yellow);
    }
}

.Define .defineButton:active {
    transform: translateY(3px) scale(0.95) !important;
    transition-duration: 700ms;
}

.Hash .hashButton:active {
    transform: translateY(3px) scale(0.95);
    transition-duration: 700ms;
}

.Hash .primaryVar1:active {
    border-bottom: 3px solid transparent;

    /* background: linear-gradient(60.99deg, #f2509e -13.57%, #ee778b -5.28%, #6324eb 21.41%, #9747ff 51.52%, #3fcdec 95.48%) !important; */
}

.Define .primaryVar1:active {
    box-shadow: 0px 2px var(--proud-pink);
}

.Define .primaryVar2:active {
    box-shadow: 0px 2px var(--youthful-yellow);
}

.Define .secondary:active {
    box-shadow: 0px 2px var(--youthful-yellow);
}

.hUIButton .icon {
    min-width: 20px;
    min-height: 20px;
}

@media screen and (max-width: 768px) {
    .hUIButton {
        width: 100%;
    }

    .Define a {
        width: 100%;
    }
}

@media screen and (min-width: 449px) {
    .Define a {
        max-width: fit-content;
    }
}
