.navbarList {
	list-style-type: none;
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	background-color: #25262c00;
	color: white;
	width: 100vw;
	column-gap: 30px;
	/* background-color: blue; */
}

.navSectionRight {
	display: flex;
}

.hashLogoContainer {
	/* padding: 30px; */
	max-height: 100px;
}

.defineLogoContainer {
	/* padding: 30px; */
	max-height: 90px;
}

.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 70px 100px;
	font-size: 20px;

	/* background-color: aqua; */
}
