.hero {
	/* background-color: aquamarine; */
	margin: 0px 100px;
	padding: 100px 0px;
	color: var(--whitty-white);
	min-height: 75vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	row-gap: 20px;
	background-color: var(--blasphemous-black);
	/* justify-content: space-between; */
}

.heroSectionA {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
}

.heroSectionB {
	display: block;
	width: 100%;
	transform: translate(50px);
	mix-blend-mode: lighten;

	/* background-color: aquamarine; */
}

.heroSectionB img {
	width: 100%;
}

.tagline {
	font-family: "coolvetica-rg";
	text-align: left;
}

.titlesponsor {
	font-family: "coolvetica-rg";
	letter-spacing: 1px;
	text-transform: uppercase;
	background-color: black;
	display: inline-block;
}

.buttonContainer {
	display: flex;
	column-gap: 10px;
}

@media screen and (max-width: 768px) {
	.hero {
		/* background-color: aqua; */
		padding: 100px 0px;
		margin: 0px 0px;
		flex-direction: column;
	}

	.heroSectionA {
		order: 1;
		display: inline-flex;
		width: fit-content;
		/* background-color: aquamarine; */
	}

	.heroSectionB {
		order: 0;
		width: 50%;
		transform: translate(0px);
	}

	.buttonContainer {
		flex-direction: column;
	}
}
