.defineTheme {
	/* background-color: aquamarine; */
	/* margin: 0px 100px; */
	padding: 100px 100px;
	color: var(--blasphemous-black);
	min-height: 75vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	row-gap: 20px;
	background-color: var(--witty-white);
	/* justify-content: space-between; */
}

.defineTheme .mainheading {
	font-family: "coolvetica-rg";
	font-weight: 100;
	line-height: 80%;
}

.defineTheme .subheading {
	font-family: "coolvetica-rg";
	letter-spacing: 0;
	font-weight: 100;
	line-height: 80%;
}

.defineTheme .description {
	font-family: "coolvetica-rg";
	font-weight: 100;
	letter-spacing: 0px;
	text-align: left;
}

.defineTheme .benefits {
	font-family: "coolvetica-rg";
	font-weight: 100;
	text-align: left;
}

.defineTheme ul {
	list-style: none;
}

.defineTheme li {
	background: url("./../../assets/images/Bullet.svg") no-repeat left center;
	padding-left: 24px; /* the width of your image + some space */
	margin: 5px 0;
}

@media screen and (max-width: 768px) {
	.defineTheme {
		/* background-color: aqua; */
		padding: 100px 25px;
		flex-direction: column;
	}

	.buttonContainer {
		flex-direction: column;
	}
}
