:root {
    --youthful-yellow: #ecf016;
    --witty-white: #ffffff;
    --proud-pink: #fb2a9b;
    --brilliant-blue: #0075ff;
    --blasphemous-black: #25262c;
}

.Define h1 {
    font-size: 10vw;
    font-weight: 600;
}

.Define h2 {
    font-size: 5vw;
    font-weight: 600;
}

.Define h3 {
    font-size: 3.5vw;
    line-height: 95%;
    letter-spacing: 2px;
}

.Define h6 {
    font-size: 1.5vw;
}

.Define p {
    font-size: 2vw;
}

.Define {
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    cursor: url('./../assets/images/CursorDefault.svg'), default;
    overflow-y: scroll;
}

.blackBG {
    background-color: var(--blasphemous-black);
    transition: all 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.pinkBG {
    background-color: var(--proud-pink);
    transition: all 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.yellowBG {
    background-color: var(--youthful-yellow);
}

.whiteBG {
    background-color: var(--witty-white);
    transition: all 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.blueBG {
    background-color: var(--brilliant-blue);
    transition: all 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.Define .inView {
    height: 120vh;
}

.Define .offView {
    height: 60vh;
}

.shrink {
    height: fit-content;
    min-height: 0;
}

@media screen and (max-width: 768px) {
    .Define h1 {
        font-size: 60px;
    }

    .Define h2 {
        font-size: 48px;
    }

    .Define h3 {
        font-size: 28px;
    }

    .Define h6 {
        font-size: 10px;
    }

    .Define p {
        font-size: 18px;
    }
}

.Define .youthfulYellowFG {
    color: var(--youthful-yellow);
}

.Define .brilliantBlueFG {
    color: var(--brilliant-blue);
}

.plainNoise {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    /* width: 100vw;
	height: 100vh; */
    user-select: none;
    pointer-events: none;
    background: url('./../assets/images/Plain\ Noise.png');
    background-repeat: repeat;
    background-size: 80%;
    opacity: 45%;
    z-index: 999;
}

.plasticTexture {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    /* width: 100vw;
	height: 100vh; */
    user-select: none;
    pointer-events: none;

    background: url('./../assets/images/Plastic\ Texture.png');
    mix-blend-mode: soft-light;
    z-index: 999;
    /* transform: rotate(90deg); */
}

/* .glitchTexture {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	width: 100%;
	height: 100%;
	user-select: none;
	pointer-events: none;

	background: url("./../assets/images/glitchoverlay1.gif");
	background-repeat: repeat;
	background-size: 100%;
	opacity: 20%;
	mix-blend-mode: color-dodge;
} */

.Define {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.Define > a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

.Define .mainheading {
    font-family: 'coolvetica-rg';
    font-weight: 100;
    line-height: 80%;
}

.Define .subheading {
    font-family: 'coolvetica-rg';
    letter-spacing: 0;
    font-weight: 100;
    line-height: 80%;
}
