* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "coolvetica-rg";
	text-align: start;
}

:root {
	--youthful-yellow: #ecf016;
	--whitty-white: #ffffff;
	--proud-pink: #fb2a9b;
	--brilliant-blue: #0075ff;
	--blasphemous-black: #25262c;
}

@font-face {
	font-family: "ClashDisplay-Variable";
	src: local("ClashDisplay-Variable"),
		url("./../assets/fonts/ClashDisplay/ClashDisplay-Variable.ttf")
			format("truetype");
	font-weight: 200 700;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "ClashDisplay-Extralight";
	src: local("ClashDisplay-Extralight")
		url("../assets/fonts/ClashDisplay/ClashDisplay-Extralight.otf")
		format("opentype");
	font-weight: 200;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "ClashDisplay-Light";
	src: local("ClashDisplay-Light")
		url("../assets/fonts/ClashDisplay/ClashDisplay-Light.otf")
		format("opentype");
	font-weight: 300;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "ClashDisplay-Regular";
	src: local("ClashDisplay-Regular")
		url("../assets/fonts/ClashDisplay/ClashDisplay-Regular.otf")
		format("opentype");
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "ClashDisplay-Medium";
	src: local("ClashDisplay-Medium")
		url("../assets/fonts/ClashDisplay/ClashDisplay-Medium.otf")
		format("opentype");
	font-weight: 500;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "ClashDisplay-Semibold";
	src: local("ClashDisplay-Semibold")
		url("../assets/fonts/ClashDisplay/ClashDisplay-Semibold.otf")
		format("opentype");
	font-weight: 600;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "ClashDisplay-Bold";
	src: local("ClashDisplay-Bold")
		url("../assets/fonts/ClashDisplay/ClashDisplay-Bold.otf") format("opentype");
	font-weight: 700;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "coolvetica-rg";
	src: local("coolvetica-rg")
		url("../assets/fonts/coolvetica/coolvetica\ rg.otf");
	font-weight: 700;
	font-display: swap;
	font-style: normal;
}

.Define h1 {
	font-size: 12vw;
	font-weight: 600;
}

.Define h3 {
	font-size: 4vw;
}

.Define h6 {
	font-size: 2vw;
}

.Define {
	background-color: var(--blasphemous-black);
	width: 100vw;
	height: 100vh;
	/* overflow-y: scroll; */
}

.Define .youthfulYellowFG {
	color: var(--youthful-yellow);
}

.plainNoise {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	width: 100vw;
	height: 100vh;

	background: url("./../assets/images/Plain\ Noise.png");
	background-repeat: repeat;
	background-size: 80%;
	mix-blend-mode: color-dodge;
}

.plasticTexture {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	width: 100vw;
	height: 100vh;

	background: url("./../assets/images/Plastic\ Texture.png");
	mix-blend-mode: soft-light;
	/* transform: rotate(90deg); */
}

/* width */
::-webkit-scrollbar {
	width: 30px;
}

/* Track */
::-webkit-scrollbar-track {
	background-color: var(--proud-pink);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--youthful-yellow);
}
