.hero {
    /* background-color: aquamarine; */
    padding: 50px 100px;
    color: var(--witty-white);
    /* min-height: 75vh; */
    display: flex;
    flex-direction: row;
    padding-top: 130px;
    align-items: center;
    row-gap: 20px;
    background-color: var(--blinding-black);
    /* justify-content: space-between; */
}

.heroSectionA {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.heroSectionB {
    display: block;
    width: 75%;
    transform: translateY(-40px);
    /* background-color: aquamarine; */
}

.hero .heroSectionB {
    mix-blend-mode: lighten;
}

.heroSectionB img {
    width: 100%;
}

.tagline {
    font-family: 'coolvetica-rg';
    font-weight: 100;
    letter-spacing: 0px !important;
    text-align: left;
}

.titlesponsor {
    font-family: 'coolvetica-rg';
    font-weight: 100;
    letter-spacing: 0px;
    text-transform: uppercase;
    background-color: black;
    display: inline-block;
}

.buttonContainer {
    display: flex;
    column-gap: 10px;
}

@media screen and (max-width: 768px) {
    .hero {
        /* background-color: aqua; */
        padding: 100px 50px;
        margin-top: 20vh;
        flex-direction: column;
    }

    .heroSectionA {
        order: 1;
        display: inline-flex;
        width: fit-content;
        /* background-color: aquamarine; */
    }

    .heroSectionB {
        order: 0;
        width: 50%;
        transform: translate(0px);
    }

    .buttonContainer {
        flex-direction: column;
    }
}

@media screen and (max-width: 425px) {
    .hero {
        padding: 50px 25px;
        flex-direction: column;
    }
}
